{
  "arrowParens": "always",
  "parser": "typescript",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5"
}
