@import "./src/theme/index.scss";

.closeButton {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: $font-size-md;
}

.closeButtonWrapper {
  position: absolute;
  right: 10px;
  top: 10px;
}

.content {
  left: 50%;
  min-width: 60%;
  padding: 40px 20px 20px 20px;
  position: fixed;
  top: 33%;
  transform: translate3d(-50%, -50%, 0);

  background-color: $white;
  border-color: $slate7;
  border-style: dashed;
  border-width: 1px;
}
