@import "./src/theme/index.scss";

.word {
  column-gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto 10px auto;
  width: 90%;

  &:last-child {
    margin-bottom: 0;
  }
}
