@import "./src/theme/index.scss";

.letter {
  flex: 1 1 0;
  height: 2rem;

  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;

  &.correct {
    background-color: $green10;
    color: $green2;
  }

  &.empty {
    background-color: $slate5;
    color: $slate12;
  }

  &.incorrect {
    background-color: $slate11;
    color: $slate3;
  }

  &.present {
    background-color: $yellow10;
    color: $yellow2;
  }
}
