@import "./src/theme/index.scss";

.keyboard {
  bottom: 0;
  height: 200px;
  left: 0;
  padding: 20px 10px;
  position: fixed;
  right: 0;

  background-color: $slate3;
}

.row {
  column-gap: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 45px;
  justify-content: space-between;
  margin: 0 auto 1vw auto;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }
}
