@import "./src/theme/index.scss";

.key {
  display: block;
  flex: 1 1 5vw;
  height: 45px;

  appearance: none;
  border: none;
  cursor: pointer;

  font-family: $font-family-monospace;
  font-size: $font-size-xs;

  @include min-width(sm) {
    font-size: $font-size-sm;
  }

  @include min-width(md) {
    font-size: $font-size-md;
  }

  &:disabled {
    opacity: 0.6;
  }

  &.correct {
    background-color: $green10;
    color: $green2;
  }

  &.empty {
    background-color: $slate5;
    color: $slate12;
  }

  &.incorrect {
    background-color: $slate11;
    color: $slate3;
  }

  &.present {
    background-color: $yellow10;
    color: $yellow2;
  }
}
