@import "./src/theme/index.scss";

.container {
  margin-bottom: 220px;
}

.disclaimer {
  margin: 0 auto 0.5rem auto;
  width: 80%;

  color: $slate11;
  font-size: $font-size-xs;
  line-height: 1.1;
  text-align: center;

  & a {
    color: $indigo11;
    text-decoration: none;
  }
}

.guessesContainer {
  margin-bottom: 2rem;
}

.heading {
  margin: 1rem 0 0.25rem 0;

  font-size: $font-size-lg;
  text-align: center;
}

.subhead {
  margin: 0 0 1rem 0;

  font-size: $font-size-md;
  text-align: center;
}

@include min-width(md) {
  .disclaimer {
    font-size: $font-size-md;
  }

  .heading {
    font-size: $font-size-xl;
  }

  .subhead {
    font-size: $font-size-lg;
  }
}
